node-linker=hoisted
package-import-method=copy
audit-endpoint=https://registry.npmjs.org/-/npm/v1/security/advisories/bulk
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*react-native-reanimated*
public-hoist-pattern[]=*react-native-worklets*
public-hoist-pattern[]=*expo*
only-built-dependencies[]=@swc/core
only-built-dependencies[]=esbuild
only-built-dependencies[]=nx
only-built-dependencies[]=prisma
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=sharp
only-built-dependencies[]=better-sqlite3