node-linker=hoisted
package-import-method=copy
force-legacy-deploy=true
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*react-native-reanimated*
public-hoist-pattern[]=*react-native-worklets*
public-hoist-pattern[]=*expo*