# Better Auth
BETTER_AUTH_SECRET=changeme
BETTER_AUTH_URL=http://localhost:3000
APP_URL=http://localhost:3000
WEB_URL=http://localhost:5173
PORT=3000
NODE_ENV=development

# Redis
REDIS_URL=redis://redis:6379

# Postgres
POSTGRES_USER=jobly
POSTGRES_PASSWORD=jobly
POSTGRES_DB=jobly_db
DATABASE_URL=postgres://jobly:jobly@postgres:5432/jobly_db

# Gemini
GEMINI_KEY=changeme
GEMINI_MAIN_MODEL=gemini-3-flash-preview
GEMINI_FALLBACK_MODEL_1=gemini-2.5-flash
GEMINI_FALLBACK_MODEL_2=gemini-2.5-flash-lite
